@charset "utf-8";

.agree_main{

    width: 1100px;
    height: 670px;
    /* background-color: beige; */
    margin: 0 auto;
  
}

.member_top{
    margin: 0 auto;
    margin-top: 40px;
    width: 1100px;
    height: 60px;
    border-bottom: 1px solid #f6c757;
    box-sizing: border-box;
    
}
.member_top > li:nth-of-type(1){
    width: 120px;
    height: 60px;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    text-align: center;
    line-height: 60px;
    float: left;
}
.member_topl{
    float: right;
    width: 390px;
    height: 60px;
}
.member_topl > li{
    float: left;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}
.member_topl > li:nth-of-type(1){
    color: #ffa500;
}
.member_topl > li:nth-of-type(2){
    width: 30px;
    height: 60px;
    background-image: url("../images/step_on.png");
    background-repeat: no-repeat;
    background-position: 10px 25px;
}
.member_topl > li:nth-of-type(3){
    width: 100px;
}
.member_topl > li:nth-of-type(4){
    width: 30px;
    height: 60px;
    background-image: url("../images/step_on.png");
    background-repeat: no-repeat;
    background-position: 10px 25px;
}
.member_topl > li:nth-of-type(5){
    width: 100px;
}

.inmain2{
    width: 1060px;
    height: 54px;
    /* background-color: lightgreen; */
    margin: 0 auto;
    margin-top: 30px;

}
.inmain2 > ul {
    width: inherit;
    height: auto;
    font-family: 'Noto Sans KR', sans-serif;
}
.inmain2 > ul > li:nth-of-type(1){
    line-height: 40px;
    font-size: 17px;
    font-weight: 700;
    text-indent: 8px;
    height: 40px;

}



.inmain2 > ul > li:nth-of-type(2) > label > input,
.inmain2 > ul > li:nth-of-type(3) > label > input,
.inmain2 > ul > li:nth-of-type(5) > label > input {
    width: 20px;
    height: 20px;
    vertical-align: -5px;
}


/* .inmain2 > ul > li:nth-of-type(3) > label > input,
.inmain2 > ul > li{
    height: 30px;
    width: inherit;
    line-height: 30px;
    font-size: 13px;
    
} */


.inmain2 > ul > li:nth-of-type(4),
.inmain2 > ul > li:nth-of-type(6){
    width: inherit;
    height: 150px;
    border: 1px solid black;
    overflow-y:scroll;
    padding: 5px;
    font-size: 12px;
}
.inmain2 > ul > li:nth-of-type(7){
    margin-top: 25px;
    text-align: center;
    height: 65px;
}
.inmain2 > ul > li:nth-of-type(7) > input {
    width: 150px;
    height: 40px;
    color: white;
    background-color: #f8b923;
    font-size: 13px;
    border: 0;
    cursor: pointer;
}

