@charset "UTF-8";

.main_sc {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.title_login {
	margin: 0 auto;
	width: calc(100% - 30px);
	height: 120px;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	line-height: 120px;
	text-decoration: underline;
	width: calc(100% - 30px);
}

.main_ulcss {
	width: calc(100%);
	height: auto;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #BDBDBD;
}

.main_ulcss>li {
	margin: 0 auto;
	margin-bottom: 5px;
	height: 48px;
	box-sizing: border-box;
	line-height: 48px;
	text-align: center;
	font-weight: normal;
	margin-bottom: 5px;
}

.main_ulcss>li>input {
	width: calc(100% - 60px);
	height: 48px;
	box-sizing: border-box;
	position: relative;
	top: -3px;
	border-radius: 5px;
}

#frm>section>ul>li.li_login {
	width: calc(100% - 60px);
	margin: 0 auto;
}

.main_ulcss>li:nth-of-type(1) {
	color: #BDBDBD;
	width: calc(100% - 30px);
}

.main_ulcss>li>input[type="text" i] {
	border: 3px solid #BDBDBD;
	text-indent: 10px;
}

.main_ulcss>li>input[type="password" i] {
	border: 3px solid #BDBDBD;
	text-indent: 10px;
}

.main_ulcss>li:nth-of-type(4)>input[type="submit" i] {
	background-color: #4F84F5;
	color: white;
}

.search_ulcss {
	margin: 0 auto;
	width: calc(100% - 30px);
	display: flex;
	justify-content: space-between;
}

.search_ulcss>li {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 40px;
	margin-bottom: 0;
}

#frm>section>ul>li:nth-child(5) {
	height: 40px;
	margin-bottom: 0;
}

.center-line {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px; /* 원하는 높이를 지정해주세요 */
	position: relative;
}

.center-line::before {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	border-top: 1px solid black;
	width: 50%;
}

.search_ulcss>li:not(:last-child)::after {
	content: "";
	width: 1px;
	height: 70%;
	background-color: gray;
	position: absolute;
	right: 0;
	top: 15%;
}

.li_login {
	position: relative;
}

.main_ulcss>li:nth-of-type(7) {
	height: 80px;
}

.login_ulcss {
	width: calc(100% - 60px);
	display: flex;
	justify-content: space-between;
	height: 80px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.uls_login2 {
	display: flex;
	width: 100%;
}

.uls_login2>li {
	width: 100%;
	color: black;
}

.login_ulcss>li {
	width: 80px;
	height: 80px;
	border-radius: 80px;
	border: 1px solid black;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.img_size {
	width: 40px;
	height: 40px;
}

.main_ulcss>li:nth-of-type(8)>input[type="button" i] {
	background-color: white;
	border: 3px solid #4F84F5;
	box-sizing: border-box;
	color: #4F84F5;
	margin-top: 25px;
}