<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
  
<!-- 데이터베이스 필드 값을 로드 -->
<configuration>

	<typeAliases>
		<typeAlias alias="adminvo" type="admin.adminvo" />
	</typeAliases>
</configuration>