@charset "utf-8";
._hed {
    width: 1200px;
    height: 35px;
    /* background-color: skyblue; */
    margin: 0 auto;

}
._nav {
    width: 1200px;
    height: 120px;
    /* background-color: orange; */
    margin: 0 auto;
}
._main{
  width: 1200px;
  height: auto;
  margin: 0 auto;
}

._banner{
    width: inherit;
    height: 500px;
    /* background-color: lightcoral; */
}
._weekday{
    width: inherit;
    height: 150px;
    /* background-color: lawngreen; */
}

._onair{
    width: inherit;
    height: 450px;

}

._aside{
    width: inherit;
    height: 140px;
    /* background-color: bisque; */
    
}

._content{
    width: inherit;
    height: 400px;
    /* background-color: lightblue; */
}
._cpri{
    width: 1200px;
    height: 155px;
    background-color: cornflowerblue;
    margin: 0 auto;
}