@charset "UTF-8";

* {
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
	
}

.imgs{
	vertical-align: -3px;
	margin-right: 10px;
	width: 20px;
	height: 20px;
}

.main {
	width: calc(100%);
	height: auto;
	margin: 0 auto;
}

.main>p {
	margin: 0 auto;

	width: calc(100% - 30px);
	height: 120px;
	text-align: center;
	line-height: 50px;
	font-size: 36px;
	font-weight: bolder;
	text-decoration: underline;
	line-height: 120px;
}

.PCGOGOzz{
	width: calc(100% - 30px);
	font-size: 16px;
	color: #BDBDBD;
	height: 50px;
	line-height: 50px;
	text-decoration: none;
	margin: 0 auto;
	text-align: center;
}


#reservdel > div > ul > li:nth-child(3) > div:nth-child(2){
	font-weight: bold !important;
}
.ul1>li:nth-of-type(1)>div, .ul1>li:nth-of-type(4)>div, .ul1>li:nth-of-type(10)>div {

	width:calc(100%) !important ;
	height: inherit;
}
.ul1 {
	width: calc(100% - 30px);
	height: auto;
	margin: 0 auto;
	line-height: 40px;
	margin-bottom: 60px;
}

.ul1>li {
	height: 40px;
	width: calc(100% - 30px);
	border-bottom: 1px solid black;
	display: flex;
	font-size: 14px;
	margin: 0 auto;
}

.ul1>li:nth-of-type(1)>div,
.ul1>li:nth-of-type(3)>div{
	width: calc(100% - 30px);
	height: inherit;
}
.ul1>li:nth-of-type(1)>div:nth-of-type(2),
.ul1>li:nth-of-type(3)>div:nth-of-type(2){
	text-align: right;
}

.ul1>li:nth-of-type(1)>div:nth-of-type(2){
	font-size: 20px;
	font-weight: 300;
}
.ul1>li:nth-of-type(3)>div:nth-of-type(2){
	font-size: 18px;
	font-weight: 500;
}



.ul1>li:nth-of-type(1), .ul1>li:nth-of-type(4), .ul1>li:nth-of-type(10) {
	
	margin-top: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	font-weight: 500;
	
}





.ul1>li>div {
	width:calc(100%);
	height: inherit;
}
.ul1>li>div:nth-of-type(1) {
	width: calc(100% - 220px);
	height: inherit;
}
.ul1>li>div:nth-of-type(2) {
	width: calc(100% - 80px);
	height: inherit;
}

.btnli {
	width: calc(100% - 30px);
	height: 30px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.btnli>input {
	width: calc(100% - 180px);
	height: 30px;
	margin-right: 20px;
	font-weight: 300px;
	background-color: black;
	border-radius: 15px;
	cursor: pointer;
	color: white;
	margin-top: 5px;
	margin-right: 0px;
	font-size: 14px;

}

.btnin{
	width: calc(100% - 30px);
	height: 40px;
}

.lilast {
	width: calc(100% - 30px);
	height: inherit;
}

.lilast>div>input {
	width: calc(100% - 30px);
	height: 30px;
	line-height: 30px;
	text-align: center;
	
}
.lilast>div {
	width: calc(100% - 30px);
	text-align: center;
}

.btnlis {
	margin-bottom : 0px;
	height: 30px;
}
.lastbtnin{
	width: calc(100% - 30px);
	margin-top: 60px;
	display: flex;
	justify-content: center;
	border-bottom: 0px !important;
}
.lastbtn, .lbt{
	width: calc(100% - 120px);
	height: 30px;
	background-color:#E62612;
	margin: 0 auto;	
	color: white;
	font-size: 16px;
	font-weight: 400px;
	float: left;
	border-radius: 5px;
	
}

.lilast, .ul1>li:nth-of-type(3){
	border-bottom: 0px !important;
}

.btnin{
	height: 60px !important;
}
.btnin > input {
	width: calc(100% - 30px);
	height: 40px;
	margin-right: 20px;
	border: 1px solid black;
	font-size: 18px;
	font-weight: 300px;
    background-color : black;
	border-radius: 20px;
	cursor: pointer;
	margin-top: 10px;
}
.btnin > div {
	width: calc(100% - 30px);
	line-height: 60px;
	text-align: right;
	
}